img{
    max-width:100%;
    height:auto;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f5f7fa;
    color:#333;
}

.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 20px;
    border:4px solid white;
}

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:80px 20px;
}

nav{
    background:#1e293b;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

section{
    max-width:1000px;
    margin:auto;
    padding:50px 20px;
}

h2{
    margin-bottom:20px;
}

ul{
    padding-left:20px;
}

footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
}

.gambar-artikel{
    width:100%;
    max-width:900px;
    display:block;
    margin:20px auto;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}